---
import LayoutHeaderTopBar from '@/layout/LayoutHeaderTopBar.astro';
import Link from '@/components/action/Link.astro';
---

<header class="header">
    <LayoutHeaderTopBar />
    <nav class="content justify-between">
        <ul class="navigation">
            <li>
                <a class="item" href="/">Accueil</a>
            </li>
            <li>
                <a class="item" href="/sleep">Se reposer</a>
            </li>
            <li>
                <a class="item" href="/sleep">S'échapper</a>
            </li>
        </ul>
        <a class="link" href="/book"> Réserver en direct </a>
    </nav>
</header>

<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 2%,
            rgba(0, 0, 0, 0.95) 100%
        );

        .content {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            padding: var(--spacing-100) var(--spacing-150) var(--spacing-400);

            .navigation {
                display: flex;
                align-items: center;
                gap: var(--spacing-150);

                .item {
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-block: var(--spacing-25);
                    font-family: var(--font-family-title), system-ui;
                    font-size: var(--font-title-xs);
                    font-weight: var(--font-bold);
                    line-height: var(--font-line-height-title-xs);
                    letter-spacing: 0;

                    &:hover {
                        border-bottom-color: rgb(255, 255, 255);
                    }
                }
            }

            .link {
                color: var(--primary-foreground);
                background: transparent;
                border: 1px solid var(--primary-foreground);
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: var(--radius-xs);
                font-family: var(--font-family-title), system-ui;
                font-size: var(--font-body-m);
                font-weight: var(--font-semibold);
                line-height: var(--font-line-height-body-m);
                letter-spacing: 0;
                padding: 6px 20px;

                &:hover {
                    background: var(--primary-foreground);
                    color: var(--primary);
                }
            }
        }
    }
</style>
