---
import { APP_NAME } from '@/config/contact.ts';
const currentYear = new Date().getFullYear();
---

<footer class="footer">
    <div class="copyright">
        <span class="text">Copyright © {currentYear} {APP_NAME}</span>
    </div>
    <div class="legal"></div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;

        .copyright {
            background: var(--primary);
            color: var(--primary-foreground);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-150);
            padding: var(--spacing-100) var(--spacing-150);

            .text {
                font-size: var(--font-body-s);
                line-height: var(--font-line-height-body-s);
                letter-spacing: 0;
            }
        }

        .legal {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-100);
        }
    }
</style>
