---
import { APP_NAME } from '@/config/contact.ts';

const currentYear = new Date().getFullYear();
---

<footer class="footer">
    <div class="copyright">
        <span class="notice">Copyright © {currentYear} {APP_NAME}</span>
        <div class="legal">
            <a class="link" href="/legal-notice"> Mentions légales </a>
            <a class="link" href="/privacy-policy">
                Politique de confidentialité
            </a>
        </div>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;

        .copyright {
            background: var(--primary);
            color: var(--primary-foreground);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-150);
            padding: var(--spacing-100) var(--spacing-150);

            .notice {
                font-size: var(--font-body-s);
                line-height: var(--font-line-height-body-s);
                letter-spacing: 0;
            }

            .legal {
                display: flex;
                align-items: center;
                gap: var(--spacing-75);

                .link {
                    font-size: var(--font-body-s);
                    line-height: var(--font-line-height-body-s);
                    letter-spacing: 0;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
</style>
