---
import LayoutHeaderTopBar from '@/layout/LayoutHeaderTopBar.astro';

interface Props {
    variant?: 'default' | 'transparent';
}

const { variant = 'default' } = Astro.props;
---

<header class:list={['header', variant]}>
    <LayoutHeaderTopBar />
    <nav class="content justify-between">
        <ul class="navigation">
            <li>
                <a class="item" href="/">Accueil</a>
            </li>
            <li>
                <a class="item" href="/sleep">Se reposer</a>
            </li>
            <li>
                <a class="item" href="/sleep">S'échapper</a>
            </li>
        </ul>
        <a class="link" href="/book"> Réserver en direct </a>
    </nav>
</header>

<style>
    @property --padding-bottom {
        syntax: '<length>';
        inherits: false;
        initial-value: 0rem;
    }

    @property --shadow-opacity {
        syntax: '<number>';
        inherits: false;
        initial-value: 0;
    }

    .header {
        top: 0;
        width: 100%;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, calc(0.2 * var(--shadow-opacity))) 0 2px 8px;
        animation: headerScrollVariables linear auto both;
        animation-timeline: scroll(root);
        animation-range: 0 150px;

        &.default {
            position: sticky;
            background: var(--background);

            .top-bar {
                background: var(--primary);
                border-bottom-color: var(--primary);
            }

            .content {
                .navigation .item {
                    color: var(--primary);

                    &:hover {
                        border-bottom-color: var(--primary);
                    }
                }

                .link {
                    color: var(--primary);
                    border-color: var(--primary);

                    &:hover {
                        background: var(--primary);
                        color: var(--primary-foreground);
                    }
                }
            }
        }

        &.transparent {
            position: fixed;
            background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 2%,
                rgba(0, 0, 0, 0.95) 100%
            );

            .top-bar {
                background: transparent;
                border-bottom-color: rgba(255, 255, 255, 0.2);
            }

            .content {
                .navigation .item {
                    color: rgb(255, 255, 255);

                    &:hover {
                        border-bottom-color: rgb(255, 255, 255);
                    }
                }

                .link {
                    color: var(--primary-foreground);
                    border-color: var(--primary-foreground);

                    &:hover {
                        background: var(--primary-foreground);
                        color: var(--primary);
                    }
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            padding: var(--spacing-100) var(--spacing-150) var(--padding-bottom);

            .navigation {
                display: flex;
                align-items: center;
                gap: var(--spacing-150);

                .item {
                    text-transform: uppercase;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-block: var(--spacing-25);
                    font-family: var(--font-family-title), system-ui;
                    font-size: var(--font-title-xs);
                    font-weight: var(--font-bold);
                    line-height: var(--font-line-height-title-xs);
                    letter-spacing: 0;
                }
            }

            .link {
                background: transparent;
                border: 1px solid;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: var(--radius-xs);
                font-family: var(--font-family-title), system-ui;
                font-size: var(--font-body-m);
                font-weight: var(--font-semibold);
                line-height: var(--font-line-height-body-m);
                letter-spacing: 0;
                padding: 6px 20px;
            }
        }
    }

    @keyframes headerScrollVariables {
        from {
            --padding-bottom: var(--spacing-400);
            --shadow-opacity: 0;
        }

        to {
            --padding-bottom: var(--spacing-100);
            --shadow-opacity: 1;
        }
    }
</style>
